body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.flaxable{
    display: flex;
    
}
header{
    background-color: #ef441e;
    color: #fff;
}
header p{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
#login-register{
    text-align: center;
}
header a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}
.header-box{
    width: 40%;
    margin: auto 0px auto 10%;
}
.align-item-center{
    align-items: center;
}
.top-section-box{
    width: 50%;
}
.top-section-box img{
    width: 100%;
}
.top-section-box p{
    margin-bottom: 35px;
}
.text-orange{
    color: orange;
}
.btn-orange{
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(90deg,orange,tomato);
    border-radius: 50px;
}
.about-section{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 20px;
}
.about-box{
    width: 50%;
}
.about-box img{
    width: 45%;
}
.about-box p{
    margin-bottom: 70px;
}
.recipies-content{
    width: 50%;
    margin:auto;
    text-align: center;
}
.recipies-content h2{
    font-size: 35px;
}
.recipies-item{
    width: 30%;
    padding: 15px;
    box-shadow: 1px 2px 15px #b7b7b7;
    margin-left: 5%;
    border-radius: 25px;
}
.recipies-item img{
    width: 100%;
}
.message-section{
    text-align: center;
    box-shadow: 1px 3px 16px #9e9a9a;
    border-radius: 15px;
    padding: 50px;
}
.input-box{
    width: 40%;
    margin-left: 5%;
}
.input-field{
    width: 100%;
    padding: 8px 10px;
    margin: 10px;
    border: 2px solid #bdb9b9;
    border-radius: 5px;
}
textarea{
    resize: none;
}
.message-btn{
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(90deg,orange,tomato);
    border-radius: 50px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
footer{
    background-color:#0B0E17;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #fff;
}
footer h2{
    color: #afafaf;
}